html,
body {
    background-color: #F0F0F0;
    font-family: 'Lato';
    font-size: 18px;
     color: #0a0a0a;
    /* height: 100%; */
}

* {
    margin: 0;
    padding: 0;
  }

  section {
        padding: 40px 0 60px;
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 25px 0;
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
  }

  h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    line-height: 1.5;
    padding-bottom: 30px;
} 

.summary-text { 
    max-width: 960px;
    margin: 0 auto; 
    text-align: center;
}

.anchor {
    display: block;
    height: 80px; /*same height as header*/
    margin-top: -80px; /*same height as header*/
    visibility: hidden;
  }

  .btn:link,
  .btn:visited {
      background-color: transparent;
      border: 2px solid #0a0a0a;
      text-decoration: none;
      padding: 10px 15px;
      color: #0a0a0a;
      font-size: 1.5em;
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out;
      display: inline-block;
  }

.btn:hover,
.btn:active {
    opacity: .5;
}

  /* Header and navigation */

.portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 80px;
}

.bg-dark {
    background-color: #000 !important;
}

/* Welcome Section */

#welcome-section {
    height: 100vh;
    background-color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

/* Project Section */

.project-container {
    display: grid;
    grid-gap: 25px 0px;
    justify-items: center;
    max-width: 1140px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.project-tile {
   -webkit-transition-duration: 1s;
           transition-duration: 1s;
   border: 2px solid #F0F0F0;
   -webkit-box-shadow: 1px 1px 4px #555;
           box-shadow: 1px 1px 4px #555;
}

.project-tile:hover {
    opacity: .8;
}

.project-tile img {
    width: 350px;
    height: 152px;
    max-width: 100%;
    display: block;
  }

.project-title {
    color: #0a0a0a;
    background-color: #ccc;
    text-align: center;
    padding: 15px 0 15px;
    font-weight: 900;
    border-top: 2px solid #F0F0F0;
}

.project-container a:link {
    text-decoration: none;
}

/* Contact Section */

#contact {
    width: 100%;
    background-color: #000;
}

#contact h3 {
    color: #F0F0F0;
    opacity: .5;
}

.contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1em;
}

.contact-container ul  {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#contact li {
    padding: 0px 20px 20px;
}

#contact li a {
    color: #F0F0F0;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#contact li a:hover {
    opacity: .5;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    .summary-text { 
        max-width: 80%;
    }

    /* Header & Navigation */

    .nav-bar-items,
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-width: 100%;
        padding-left: 10px;

    }

    .nav-bar-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

  .nav-bar-items {
      display:none;
    }

    .toggle-container  {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        min-width: 30px;
        
       } 
  
  .nav-bar-ToggleShow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .nav-bar-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
    } 

    .nav-bar-toggle:hover {
        opacity: .5;
    }
  }

@media screen and  (max-width: 450px) {
   .portrait {
       width: 60px;
       height: 60px;
   }

    .site-info {
        font-size: .75em;
    }

    .site-info h3{
        padding-bottom: 3px;
        letter-spacing: 0px;
    }
}

    @media screen and  (max-width: 320px) {
        
        .portrait {
            display: none
        }

         .site-info {
             margin-left: 20px;
        }
         }
     
   