html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #F0F0F0;
    font-family: 'Lato';
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#container {
    display: flex;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#left {
    background-color: #000;
    text-align: center;
    color: #fff;
    flex: 1;
}

.portrait {
    width: 100%;
}

.name {
    font-size: 1.5em;
    margin: 0px 0px 5px;
    padding: 0px 20px;
}

.sub-name {
    font-size: 1em;
    margin: 5px 0px;
    padding: 0px 20px;
}

nav {
    font-size: 1em;
    margin: 5px 0px;
    padding: 0px 20px;
}

#right {
    flex-shrink: 0;
    flex: 4;
    overflow-y: auto;
    padding: 0 30px;
}